{
  "presets": [
    [ "env", { "targets": { "node": "current" } } ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    [ "system-import-transformer", { "modules": "common" } ]
  ]
}
