.agrument__container {
  min-height: 150vh;

  @media (max-width: 575.98px) {
    padding-left: 0;
    padding-right: 0;

    > div > .row > .col-md-9 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  a:not(.btn) {
    color: $agrument-teal;
    font-weight: 700;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .form-control {
    color: $agrument-darkteal;
    border-color: $agrument-teal;

    &:hover,
    &:focus {
      border-color: $agrument-darkteal;
    }
  }

  .component__button {
    background-color: $agrument-teal;

    &:not(.disabled):hover {
      background-color: $agrument-darkteal;
    }
  }

  .agrument__article {
    background-color: #fff;
    padding: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 18px;

    @media (max-width: 575.98px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .agrument__title {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      font-weight: 700;
      color: $agrument-teal;

      @media (max-width: 575.98px) {
        font-size: 28px;
      }
    }

    .agrument__image {
      width: 100%;
    }

    .agrument__source {
      text-align: right;
      margin-top: 15px;
      margin-bottom: 25px;
    }

    .agrument__date {
      font-size: 14px;
      font-weight: 700;
    }

    .agrument__copy-text {
      font-size: 12px;
    }

    .agrument__copy-input {
      .component__input--autofocus .form-control {
        margin: 15px 0;
        font-size: 12px;
        text-align: center;
        padding: 6px;
      }
    }

    .agrument__date,
    .agrument__copy-input {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $agrument-teal;
    }

    .agrument__copy-input {
      padding-bottom: 5px;
    }

    .agrument_social-buttons {
      .component__social-pulse-btn {
        background-color: $agrument-teal;
        width: 30px;
        height: 30px;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

        .pulse {
          border: 1px solid $agrument-teal;
        }

        .icon {
          font-size: 15px;
        }
      }
    }

    .agrument__text {
      p {
        margin-bottom: 26px;

        @media (max-width: 575.98px) {
          font-size: 16px;
          margin-bottom: 16px;
        }
      }
    }

    @media (max-width: 991.98px) {
      > .row > .col-md-2 {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #6ba8a0;
        padding: 15px 0 0 0;
        border-bottom: 1px solid #6ba8a0;
        margin: 20px 15px;

        .agrument__date {
          position: absolute;
          top: -35px;
        }

        .agrument__date,
        .agrument__copy-text {
          flex: 0 0 100%;
        }

        .agrument__date,
        .agrument__copy-input {
          flex: 1;
          padding-bottom: 0;
          border-bottom: 0;
          margin-bottom: 0;
        }

        .agrument_social-buttons {
          flex: 1;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .agrument__sidebar {
    margin-top: 35px;
    font-size: 16px;

    .card__title {
      color: $agrument-teal;
    }

    .triangle--top {
      border-top-color: $agrument-teal;
    }

    .agrument__subscribe {
      .component__checkbox label {
        &:before,
        &:after {
          border-color: $agrument-teal;
        }

        &:hover:before,
        &:hover:after {
          border-color: $agrument-darkteal;
        }
      }
    }

    .agrument__reset-container {
      margin-top: 20px;
    }

    .agrument__rss-container {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid $agrument-teal;
    }
  }

  .sticky .agrument__sidebar {
    margin-top: 0;
  }

  .agrument__spinner-container {
    height: 48px;
    margin: 20px 0;
    text-align: center;

    .component__spinner .spinner {
      border-color: $agrument-teal;
    }
  }
}
