.card__header {
  position: relative;

  &.card__header--triangle {
    padding-bottom: 40px;

    .triangle {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 30px 30px 0 30px;
      border-color: #000 transparent transparent transparent;
      position: absolute;
      left: 50%;
      bottom: 20px;
      margin-left: -30px;

      &.triangle--top {
        bottom: 10px;
        z-index: 4;
      }

      &.triangle--bottom {
        border-color: $light-gray transparent transparent transparent;
        bottom: -15px;
        z-index: 3;
      }
    }
  }

  .card__title {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }
}

.card__content {
  background-color: #fff;
  padding: 25px;
}
