/* Confetti code modified from https://code.google.com/p/pamelafox-samplecode/ (r343).
   The original code is under the Apache 2.0 license.
   http://opensource.org/licenses/Apache-2.0
*/

.confetti {
    position: fixed;
    z-index: 9999;
    top: -50px;
    animation-direction: normal, normal;
    animation-timing-function: linear, ease-in;
}
.confetti span {
    display: block;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.confetti.tiny {
    font-size: 0.7em;
}
.confetti.small {
    font-size: 1em;
}
.confetti.medium {
    font-size: 2em;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes drop {
    0% {
        transform: translate(0px, -40px);
    }
    100% {
        transform: translate(0px, 600px);
    }
}
@keyframes jitterA {
    0% {
        transform: rotate(-70deg) rotateX(-20deg) rotateY(240deg);
    }
    100% {
        transform: rotate(290deg) rotateX(340deg) rotateY(-120deg);
    }
}
@keyframes jitterB {
    0% {
        transform: rotate(75deg) rotateX(60deg) rotateY(-10deg);
    }
    100% {
        transform: rotate(-280deg) rotateX(-230deg) rotateY(300deg);
    }
}
@keyframes jitterC {
    0% {
        transform: rotate(20deg) rotateX(40deg) rotateY(-50deg);
    }
    100% {
        transform: rotate(320deg) rotateX(400deg) rotateY(200deg);
    }
}
@keyframes jitterD {
    0% {
        transform: rotate(-180deg) rotateX(20deg) rotateY(-100deg);
    }
    100% {
        transform: rotate(180deg) rotateX(-300deg) rotateY(200deg);
    }
}
/* end of confetti */