.dash__container {
  .component__agrument-editor {
    margin-bottom: 35px;
    padding: 25px;
    background-color: #fff;
  }

  .component__button {
    background-color: $agrument-teal;

    &:hover {
      background-color: $agrument-darkteal;
    }
  }

  .component__checkbox label {
    &:before,
    &:after {
      border-color: $agrument-teal;
    }

    &:hover:before,
    &:hover:after {
      border-color: $agrument-darkteal;
    }
  }
}
