.dash__container {
  margin-bottom: 300px;

  .navbar {
    margin-top: 20px;
    border: 0;

    .container-fluid {
      background: #fff;
    }

    a.active {
      background-color: #eee !important;
      color: $agrument-darkteal !important;
      cursor: default;
    }
  }

  .component__button {
    background-color: $agrument-teal;

    &:not(.disabled):hover {
      background-color: $agrument-darkteal;
    }
  }

  .component__checkbox label {
    &:before,
    &:after {
      border-color: $agrument-teal;
    }

    &:hover:before,
    &:hover:after {
      border-color: $agrument-darkteal;
    }
  }

  .component__horizontal-scroll-container {
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
    display: flex;
    padding-right: 5px;

    // fix margin after last element
    &:last-child:after {
      content: '';
      width: 1px;
      display: flex;
      flex: none;
      margin-left: -1px;
    }

    > * {
      white-space: normal;
    }

    .pinned__wrapper {
      position: relative;
      display: flex;
      flex: none;
      margin: 5px 10px 5px 5px;
      width: 300px;
      max-width: 90%;
      background: #fff;
      padding: 15px;

      .pinned__remove {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        border-radius: 0;
      }

      .pinned__content {
        width: 100%;

        textarea {
          width: 100%;
          resize: vertical;
          min-height: 100px;
        }
      }
    }
  }

  .component__entry {
    margin-bottom: 35px;
  }

  hr {
    border-top-color: $agrument-darkteal;
  }

  .component__blurb {
    margin-bottom: 15px;

    span {
      background-color: #fff;
      padding: 2px 0;
      line-height: 1.5;
      box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
      color: #000;
    }
  }

  .table {
    table-layout: fixed;

    th,
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    td .btn.btn-xs {
      border: 0;
      border-radius: 0;
      font-size: 10px;
      line-height: 1.8;
      height: 18px;
      margin-right: 5px;
      vertical-align: baseline;
    }
  }

  .table-agrument-list {
    th:nth-child(1) {
      width: 50px;
    }

    th:nth-child(2) {
      width: 90px;
    }

    th:nth-child(3) {
      width: 150px;
    }

    th:nth-child(5) {
      width: 70px;
    }
  }

  .table-users-list {
    th:nth-child(1) {
      width: 30px;
    }
  }

  // TODO:
  .Select-menu-outer {
    background: #ffffff;
    z-index: 9999;
  }

  .theeditor > div > div > div:last-child { // FUCK react
    height: 300px;

    .public-DraftEditor-content {
      font-family: 'Titillium Web', sans-serif;
    }
  }

  .og-image-container,
  .og-description-container,
  .og-caption-container {
    margin-bottom: 10px;

    strong {
      margin-right: 20px;
      font-size: 16px;
    }
  }

  .voting {
    margin-top: 20px;
  }

  .author {
    font-weight: bold;
    text-align: center;
  }
  .option {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
}
